.dashboard-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
    row-gap: 5px;
}

.dashboard-container nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(18, 38, 46);
    color: white;
    
}
.dashboard-container nav img{
    width: 30px;
    display: block;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

ul a:first-child{
    border-left: 1px solid white;
}

ul a, a{
    color: white;
}
ul a {
    text-decoration: none;
    border-right: 1px solid white;
    width: 100px;
    padding: 10px;
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.profile button{
    height: 30px;
}