.dashboard-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 250px 1fr;
  position: relative;
}

.dashboard-container .loader {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 100vh;
  height: 100vh;
}
.dashboard-container .loader img {
  width: 100vh;
  height: 100vh;
  display: block;
  opacity: 0.5;
  border-radius: 80%;
}
.right-side {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.right-side .right-nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e0e4e4ee;
  box-shadow: 1px 3px 3px rgb(104, 102, 102);
  color: black;
  min-height: 50px;
}
.right-side .right-nav img {
  width: 30px;
  display: block;
}

.right-side .right-nav .right-ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.right-side .right-ul a {
  text-decoration: none;
  border-right: 1px solid white;
  width: 100px;
  padding: 13px;
  color: black;
}

.right-side .right-ul a:hover {
  background-color: white;
  color: black;
}

.right-side .right-ul a:active,
a:active {
  color: rgb(235, 200, 136);
}

.right-side .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.right-side .profile button {
  height: 30px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(18, 38, 46);
  color: white;
}
.left-side .left-ul a {
  color: rgba(255, 255, 255, 0.623);
}
article,
figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
figure {
  gap: 15px;
}
figure img {
  display: block;
  width: 200px;
  height: auto;
  border: 1px solid #092342;
  box-shadow: 1px 3px 1px 2px #3a4757;
  border-radius: 50%;
  padding: 20px;
}
figcaption {
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}
article p {
  text-align: center;
  font-size: 12px;
}

.left-side .left-nav .left-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.left-side .left-nav .left-ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 5px;
}

.left-side .left-nav li a {
  text-decoration: none;
}

.left-side .left-nav .left-ul li:hover,
.left-side .left-nav .left-ul li a:hover {
  background-color: white;
  color: black;
}
.left-side .left-nav li .active{
  font-weight: bold;
  color: rgb(255, 255, 255);
}
main.main-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.card {
  padding: 10px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(124, 123, 115, 0.5);
  background-color: #fff;
}

.card a {
  text-decoration: none;
  color: black;
}

.card:hover {
  background-color: #a3d3a5;
}
.card a:active {
  color: #fff;
}

.card:nth-child(7),
.card:nth-child(8) {
  grid-column: 1/3;
  min-height: 150px;
}
.card:nth-child(9) {
  grid-column: 3/4;
  grid-row: 3/5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  background: #7a8888ee;
  border: 1px solid #7a8888ee;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: white;
  border: 1px solid #7a8888ee;
  color: #7a8888ee;
}
button:active {
    background: #7a8888ee;
    border: 1px solid #7a8888ee;
    color: white;
}
form .form-control{
  width: 100%;
}
