.marks-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.marks-header .form-control,
.student-links {
  width: 350px;
}
.search-input {
  position: relative;
}
.student-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 45px;
}
.student-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-bottom: 1px solid white;
  background-color: #e0e4e4ee;
}
.student-link:last-child {
  /* box-shadow: 1px 1px 0px 0px rgb(104, 102, 102); */
  border-bottom: 1px solid rgb(104, 102, 102);
}
.student-link:hover {
  background-color: #e0e4e4ee;
  box-shadow: 1px 0px 0px 0px rgb(104, 102, 102);
  color: black;
}
.marks-nav {
  display: flex;
  list-style: none;
}
.marks-nav .nav-item,
.marks-nav .nav-link {
  width: 100%;
  cursor: pointer;
  flex-grow: 1;
}
.marks-nav .nav-link {
  text-decoration: none;
  display: block;
  color: black;
}
.marks-nav .nav-link {
  text-align: center;
  padding: 10px;
  border: 1px solid white;
}

.marks-nav .nav-link:hover {
  border: 1px solid #e0e4e4ee;
  background-color: #e0e4e4ee;
}
.marks-nav .nav-link.active:hover {
  border-bottom: 2px solid rgb(18, 38, 46);
  background-color: #e0e4e4ee;
}

.marks-nav .active {
  border-bottom: 2px solid rgb(18, 38, 46);
  color: rgb(18, 38, 46);
  font-weight: 700;
}
.marks-nav .nav-link.disabled:hover {
  cursor: not-allowed;
}

.student-info {
  display: flex;
  background-color: rgb(200, 206, 207);
  padding: 10px;
  color: black;
}

.subject-marks-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.subject-marks-form {
  margin: auto;
  width: 400px;
}
.marks-result{
  border-top: 1px solid rgb(148, 143, 141);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.marks-result .container{
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.result-grid{
  border-radius: 3px;
  background-color: rgb(200, 206, 207);;
  padding: 15px;
}
.span{
  border-radius: 2px;
  padding: 0px 3px;
  font-size: small;
  font-weight: bold;
  
}
.span-div{
  text-align: center;
}
.span-success{
  background-color: green;
  color: white;
}
.span-fail{
  background-color: rgba(240, 25, 25, 0.986);
  color: white;
}
.span-date{
  font-size: 12px;
  font-weight: bolder;
}
