input {
  height: 25px;
  padding: 14px;
  border: 1px solid black;
  border-radius: 2px;
}
.form-file {
  border: 1px solid black;
  border-radius: 2px;
  height: 30px;
}
input::placeholder {
  font-family: "Courier New", Courier, monospace;
}

button {
  padding: 8px 36px;
  border-radius: 3px;
  cursor: pointer;
}

.success-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(149, 233, 149);
  color: black;
  border-radius: 5px;
  padding: 10px;
}
.error-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248, 136, 136);
  color: black;
  border-radius: 5px;
  padding: 10px;
}

.remove-message {
  cursor: pointer;
}
.remove-message:active {
  color: white;
}

.error-field {
  color: rgb(182, 7, 7);
  font-size: 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 400px;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}
.modal-close-button {
  position:absolute;
  top: -15px;
  left: 100%;
  text-align: center;
  cursor: pointer;
}
.modal-close-button:active{
  color: #7a8888ee;
}
